# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Automake stuff
autom4te.cache
libtool
config.log
config.status

# Other stuff
*~
Makefile
src/Makefile
lib/Makefile
src/config.h
src/stamp-h1
lib/.deps
src/.deps
src/eics
